<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <div class="flex flex-col justify-center items-center h-screen">
        <div class="relative flex flex-col rounded-2xl max-w-md bg-white shadow-3xl">
            <div class="h-full w-full">
                <div class="relative w-full">
                    <img src="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/media/Nft3.3b3e6a4b3ada7618de6c.png" class="mb-3 h-full w-full rounded-2xl" alt="">
                    <div class="flex h-full w-full items-center justify-center rounded-full text-xl hover:bg-gray-50">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"></path>
                        </svg>
                    </div>
                </div>
                <div class="mb-3 flex items-center justify-between px-1 md:items-start">
                    <div class="mb-2">
                        <p class="text-lg font-bold text-navy-700">NOME MUSICA</p>
                        <p class="mt-1 text-sm font-medium text-gray-600 md:mt-2">NOME ARTISTA</p>
                    </div>
                </div>
                <div class="flex items-center justify-between md:items-center lg:justify-between ">
                    <div class="flex"></div>
                    <button href="" class="rounded-lg bg-brand-900 px-4 py-2 text-base font-medium text-white transition duration-200 hover:bg-brand-800 active:bg-brand-700">Escute a Previa</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
